{
  "plugins": [
    [
      "babel-plugin-root-import"
    ]
  ],
  "presets": [
    "babel-preset-expo"
  ],
  "env": {
    "development": {
      "plugins": [
        "transform-react-jsx-source"
      ]
    },
    "production": {
      "plugins": [
        "babel-plugin-root-import"
      ]
    }
  }
}